
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/TestApp/nbproject/private/
/TestApp/build/
/HW1/nbproject/private/
/pws-hw1/nbproject/private/
/pws-hw1/build/

/pws-hw1/nbproject/*
/order-processing/nbproject/private/
/order-processing/build/
/order-processing-old/nbproject/private/
/OrderProcessWS/nbproject/private/
/OrderProcessWS/build/
/pws-hw2/nbproject/private/
/pws-hw2/build/
/pws-hw2-client/nbproject/private/
/pws-hw2-client/build/
/pws-hw22/nbproject/private/
/pws-hw22/pws-hw22-war/nbproject/private/
/pws-hw22/pws-hw22-ejb/nbproject/private/
/pws-hw22/build/
/pws-hw22-client/nbproject/private/
/pws-hw22-client/build/
/pws-hw3/nbproject/private/